fastapi==0.115.0
openai==1.51.0
orjson==3.10.7
packaging==24.1
postgrest==0.17.1
psycopg2-binary==2.9.9
pydantic==2.9.2
python-dotenv==1.0.1
SQLAlchemy==2.0.35
supabase==2.8.1
supafunc==0.6.1
tqdm==4.66.5
typer==0.12.5
typing==3.7.4.3
uvicorn==0.31.0